{{>header}}
{{>navbar}}
    <section class="my-5 container">
        <div class="alert alert-danger text-center">
            <p>Page Not Found</p>
            <a href="/" class="my-2 btn btn-primary">Back Home</a>
        </div>
    </section>
{{>footer}}